body {
    color:black;
    background-color: rgb(151, 144, 144);
    font-size:30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:left;
    list-style-position:inside;
 }
 